body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../img/bbba-1.gif'); /* Замените 'bbba-1.gif' на путь к вашему изображению */
    background-size: 101%; /* Уменьшите размер фонового изображения до 50% от оригинала */
    background-repeat: repeat; /* Повторение фонового изображения */
    background-position: center;
}
header {
    background-image: url('../img/76.png'); /* Путь к вашему изображению */
    background-size: cover; /* Чтобы изображение покрывало весь заголовок */
    background-position: center; /* Центрирование изображения */
    color: #fff;
    padding: 50px 0; /* Увеличим padding для лучшей видимости изображения */
    text-align: center;
    font-family: 'Unquiet Spirits(RUS BY LYAJKA)', sans-serif; /* Пример смены шрифта */
    position: relative;
}

header h1 {
    font-size: 72px; /* Увеличение размера текста */
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2), 10px 10px 0px rgba(0,0,0,0.1); /* Тень с эффектом 3D на полу */
    position: relative;
}

header h1::after {
    content: attr(data-shadow);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: rgba(0,0,0,0.2);
    z-index: -1;
    transform: rotateX(45deg);
    transform-origin: top;
    perspective: 100px;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
    z-index: 2;
}

nav a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1;
    display: none; /* Скрываем по умолчанию */
}

#oleg-link::before {
    display: block; /* Показываем только для элемента с id="menu" */
}

nav a:hover {
    background-color: #666;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1); 
    background-size: cover;
    background-position: center;
    border: 5px solid #DCDCDC;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.video {
    flex: 1;
    margin: 0 10px;
}

video {
    width: 100%;
    height: auto;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image img {
    width: 300px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}